/* common style here */

*{
    margin: 0;  
    padding: 0;
    list-style: none;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.section-title{
    font-size: 35px;
    color: #181818;
    font-weight: 700;
    text-align: center;
}

.section-discription{
    color: #757575;
    text-align: center; 
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.primary-text{
    color: #FD6E0A;
}

.primary-btn{
    font-size: 20px;
    background-color: #FD6E0A;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s;
}

.primary-btn:hover{
    background-color: #d4e553;
}

/* header style here */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    margin-right: 40px;
}

ul li a{
    font-size: 20px;
    color: #474747;
}

.nav-title{
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}

/* header relative style */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.header-sub{
    font-size: 45px;
    color: #474747;
    font-weight: 600px;
    margin-bottom: 5px;
}

.heading-title{
    font-size: 85px;
    color: #181818;
    font-weight: 700;
}

.heading-para{
    margin-bottom: 20px;
}

.contact-btn{
    font-size: 20px;
    color: #FD6E0A;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 10px;
}

.banner-container{
    padding: 30px 100px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-disc{
    max-width: 500px;
}

.banner-container .banner-img{
    width: 500px;
}

/* about section style */
.about-section{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}